html,
body {
  padding: 0;
  margin: 0;
  font-family: Pokemon_GB, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: .4em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(151, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(209, 0, 0);
  border-radius: 10px;
}

@font-face {
  font-family: 'Pokemon_Hollow';
  src: url('/fonts/pokemon_hollow-webfont.woff2') format('woff2'),
       url('/fonts/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon_Solid';
  src: url('/fonts/pokemon_solid-webfont.woff2') format('woff2'),
       url('/fonts/pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Pixel';
  src: url('/fonts/Pixel-LCD-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon_GB';
  src: url('/fonts/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fill-screen-vertical {
  height: calc(100vh - 64px);
}

.title {
	font-family: 'Pokemon_Solid';
  color: yellow;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  font-size: 24px;
  letter-spacing: 20px;
  margin-left: 10px
}

.main-title {
	font-family: 'Pokemon_Solid';
  color: yellow;
  text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
  letter-spacing: 6px;
  margin-left: 10px;
}

.font-pokemon-solid {
  font-family: 'Pokemon_Solid';
  color: yellow;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.font-pixel {
  font-family: 'Pixel'
}

.font-pokemon-gb {
  font-family: 'Pokemon_GB';
}

.countdown-wrapper {
  background-color: #2e2e2e;
  position: fixed;
  bottom: 2rem
}

.countdown-timer {
  transform: translateY(6px);
}

.countdown-text-red {
  color: rgb(255, 103, 96);
}

.countdown-text-lime {
  color: rgb(163 230 53);
}

.pokeball {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -5px 5px 0 5px #ccc;
}

.pokeball-small {
  width: 50px;
  height: 50px;
  border-width: 2px;
  box-shadow: inset -2px 2px 0 2px #ccc;
}

.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 10px;
  background: #000;
}
.pokeball-small::after {
  top: calc(50% - 52x);
  width: 100%;
  height: 5px;
}
.pokeball-button {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: #7f8c8d;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 5px black;
}
.pokeball-button-small {
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 15px;
  height: 15px;
  border-width: 2px;
  box-shadow: 0 0 0 2px black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;